* {
    font-family: Inter, sans-serif;
    margin: 0; padding: 0;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    background-color: rgb(30, 30, 30);
    min-height: 100vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    background-image: url('../wallpaper/dark.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Navigation */

.title {
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
}

.title .button-switch {
    width: 300px;
    height: 100px;
    border-radius: 50px;
    border: solid 4px white;
    background-color: rgba(0,0,0,0.0);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.button-switch-icon {
    width: 50px;
}

h1 {
    font-weight: 600;
    font-size: 100px;
}

p {
    font-size: 25px;
}

.credits {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.socials ul {
    list-style: none;
    font-size: 75px;
}

.socials ul li {
    padding: 20px;
}

.socials ul li a:focus {
    outline: none;
}

.socials ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.socials ul li a img {
    width: 75px;
    padding-right: 25px;
}

.socials ul li:hover {
    border-radius: 20px;
    background-color: rgba(255,255,255,0.1);
}

.socials ul li:active {
    border-radius: 20px;
    background-color: rgba(255,255,255,0.05);
}

