@media (max-width: 720px), (max-height: 720px) {

    * {
        margin: 0; padding: 0;
    }

    body {
        height: 100%;
    }

    .app {
        width: 100%;
        height: 100dvh;
        border-radius: 0px;
        border: none;
        box-shadow: none;
    }

    .box-image {
        grid-template-columns: 1fr;
    }

    .full-image {
        display: grid;
        grid-template-columns: 1fr;
        gap: 6px;
        margin: 20px 0 20px 0;
        list-style: none;
    }

    .box-image-inline {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 720px) {
    .button-grid-text {
        display: none;
    }
}